Repository hmthien050209/hmthien050209.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --cache

.lintstagedrc:

{
  "*.{js,ts,mjs,mts,cjs,html,astro}": [
    "eslint --fix",
    "prettier --write --cache"
  ],
  "*.{css,md,json}": ["prettier --write --cache"]
}

feat: added descriptions on pages
  src/pages/blog/index.astro
  src/pages/contact.md
  src/pages/index.md
Due: eslint --fix, prettier --write --cache

fix: updated margins, spacing of components for mobile devices to be consistent
  src/components/Blogs/PostCard.astro
  src/styles/main.css
Due: eslint --fix, prettier --write --cache

fix: missing posted date and wrong layout templating
  blog/rebuilding-this-website.md
  src/pages/blog/[id].astro
Due: eslint --fix, prettier --write --cache

fix: spacing issues
  src/styles/main.css
Due: prettier --write --cache

fix: updated posted date format
  src/components/Blogs/PostCard.astro
  src/pages/blog/[id].astro
Due: eslint --fix, prettier --write --cache

fix: color contrast issues
  src/styles/main.css
Due: prettier --write --cache

fix: awkward stretching with text-justify on titles and some minor styles
  src/styles/main.css
Due: prettier --write --cache

fix: theme button's a11y issue
  src/components/ThemeButton.vue
Due: none

fix: missing lint-staged rules for Vue files
  .lintstagedrc
Due: none

fix: ESLint rules not ignoring specified files
  eslint.config.mjs
Due: eslint --fix, prettier --write --cache

feat: added Google Search Console Verification
  src/components/BaseHead.astro
Due: eslint --fix, prettier --write --cache

feat: added sitemap
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/BaseHead.astro
Due: eslint --fix, prettier --write --cache

feat: migrated to TailwindCSSv4 configuration variables instead of CSS variables
  src/components/Blogs/PostCard.astro
  src/components/NavBar/NavBarLink.astro
  src/pages/contact.md
  src/styles/main.css
Due: eslint --fix, prettier --write --cache

feat: added transitions to the NavBarLinks
  src/components/NavBar/NavBarLink.astro
Due: eslint --fix, prettier --write --cache

feat: update my role at TGB
  src/pages/index.md
Due: prettier --write --cache

deps: updated the dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --cache

deps: updated the dependencies; content(resume): updated my resume to reflect recent projects
  package.json
  pnpm-lock.yaml
  public/resume.pdf
Due: prettier --write --cache

content(resume): re-upload my resume because of a misleading content caused by a typo
  public/resume.pdf
Due: none

deps: upgrade deps and fix breaking changes
  .gitattributes
  .github/workflows/main.yml
  .lintstagedrc
  .oxfmtrc.json
  .prettierignore
  astro.config.mjs
  eslint.config.mjs
  oxlint.config.mts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.mjs
  src/content.config.ts
  src/layouts/BaseLayout.astro
  src/pages/blog/[id].astro
  src/pages/blog/index.astro
Due: eslint --fix, prettier --write --cache

deps: Vite 8
  package.json
Due: prettier --write --cache

ci: allow manual dispatch
  .github/workflows/main.yml
Due: none

deps: upgrade deps
  .github/workflows/main.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

deps: upgrade deps and contents
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/Blogs/CardsContainer.astro
  src/components/Blogs/PostCard.astro
  src/components/NavBar/NavBarLink.astro
  src/components/ThemeButton.vue
  src/layouts/BaseLayout.astro
  src/pages/index.md
  src/styles/global.css
Due: eslint --fix, prettier --write --cache

deps: upgrade deps
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

feat: change typeface, add a blog post
  .lintstagedrc
  blog/new-typefaces.md
  package.json
  pnpm-lock.yaml
  src/components/Blogs/CardsContainer.astro
  src/components/Blogs/PostCard.astro
  src/styles/global.css
Due: eslint --fix, prettier --write --cache

feat: OG image generation
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/default-image.png
  src/components/BaseHead.astro
  src/components/Blogs/PostCard.astro
  src/layouts/BaseContentLayout.astro
  src/layouts/BaseLayout.astro
  src/og-image.tsx
  src/pages/blog/[id].astro
  src/pages/blog/index.astro
  src/styles/global.css
  tsconfig.json
Due: eslint --fix, prettier --write --cache

feat: minor styling fixes, theme button to Preact
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/NavBar/NavBar.astro
  src/components/ThemeButton.tsx
  src/components/ThemeButton.vue
  src/og-image.tsx
  src/pages/contacts.md
  src/styles/global.css
  tsconfig.json
Due: eslint --fix, prettier --write --cache

feat: minor styling fixes
  src/components/Blogs/PostCard.astro
  src/og-image.tsx
Due: eslint --fix, prettier --write --cache

fix: wrong stylings
  src/og-image.tsx
Due: none

deps: upgrade deps and feat: change fonts
  .github/workflows/main.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/styles/global.css
Due: prettier --write --cache
